<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Extra Security</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>extraSecuritySequence</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Extra Security Sequence</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Password Length</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>startIndex</string>
		<key>MaximumValue</key>
		<real>115</real>
		<key>Password</key>
		<false/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Start Index</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>12</real>
		<key>Key</key>
		<string>endIndex</string>
		<key>MaximumValue</key>
		<real>128</real>
		<key>MinimumValue</key>
		<real>12</real>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>End Index</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
