<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Personal Profile</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>personal_extraSequence</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Personal Extra Security Sequence</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>personal_startIndex</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Personal Start Index</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>personal_endIndex</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Personal End Index</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Official Profile</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>official_extraSequence</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Official Extra Security Sequence</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>official_startIndex</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Official Start Index</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>official_endIndex</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Official End Index</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>default_extraSequence</string>
		<key>Secure</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>default_startIndex</string>
		<key>Secure</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>default_endIndex</string>
		<key>Secure</key>
		<true/>
	</dict>
</array>
</plist>
