.extrasafeMasterPasswordDiv{
	position: absolute !important;
	z-index: 2147400000;
	padding: 0.5%;
	background: #F5F5F5;
	border: 1px solid #4169E1;
	box-shadow: 0px 0px 20px #151515;
}

.extrasafeMasterPassword{
	border: none !important;
	outline: none !important;
}

.images{
	display: block-inline;
}
