body {
    background-color:#FFFFFF;	
    font-size:12px;
    height:100%;
    width:80%;
	margin: auto auto;
}

#logo{
    width:70%;
    max-width:206px;
    margin:35px 0 40px;
}

#generate-button{
	height: 100px;
    width: 100px;
}

#about-button>a{
	background-color: #8e44ad;
}

#about-button>a:hover{
	background-color: #9B59B6;
}

.page{
	padding: 5% 0%;
}

.error{
	color: #e74c3c
}

.my-button{
	margin:auto auto;
	margin-bottom: 20px;
}

.center-text{
    text-align:center;
}

#tooltip{
    position: absolute;
    background-color: #282828;
    color: #FFFFFF;
    top: 80%;
    padding: 10px 19px;
    border-radius: 6px;
    width: 80%;
    text-align: center;
    font-size: 1.3em;
}

.big-text{
    font-size: 1.3em;
}
.small-text{
    font-size:0.8em;
}

.form-control[readonly]{
    color : #1B1D1D;
}