body{
	width: 90%;
	margin: auto auto;
}

#optionsHide, #optionsShow {
	cursor: pointer;
	display: block;
}

#optionsHide>img, #optionsShow>img{
	height: 50px;
	width: 50px;
	margin-left: 42.5%;
}

input{
	height: 6%;
	width: 90%;
	outline: none;
	padding: 0.5%;
	border: 1px solid grey;
	margin: 1%;
}

input:focus{
	border: 1px solid #1E90FF;
	box-shadow: 0px 0px 10px #1E90FF;
}

#save, #cancel, #reset{
	margin-left: 8%;
	height: 10%;
	width: 20%;
	border-radius: 5%;
	border: 1px solid white;
	color: white;
}

#save{
	background: #008000;
}

#cancel{
	background: #FFA500;
}

#reset{
	background: #8B0000;
}

#generate{
	height: 10%;
	border-radius: 5%;
	background: #4169E1;
	border: 1px solid white;
	color: white;
}

#generate:hover{
	box-shadow: 0px 0px 10px #151515;
}
