input{
	height: 30px;
	width: 250px;
	outline: none;
	padding: 10px;
	border: 1px solid grey;
}

input:focus{
	border: 1px solid #1E90FF;
	box-shadow: 0px 0px 10px #1E90FF;
}

input[type="button"]{
	height: 40px;
	border-radius: 5%;
	background: green;
	border: 1px solid white;
	color: white;
}

input[type="button"]:focus{
	box-shadow: 0px 0px 10px #151515;
}