body{
	width: 30%;
	margin: auto auto;
}

#options{
	cursor: pointer;
	display: block;
	height: 3%;
	padding: 1% 35%;
}

input{
	height: 6%;
	width: 90%;
	outline: none;
	padding: 3%;
	border: 1px solid grey;
	margin: 1%;
}

input:focus{
	border: 1px solid #1E90FF;
	box-shadow: 0px 0px 10px #1E90FF;
}

input[type="button"]{
	height: 10%;
	border-radius: 5%;
	background: green;
	border: 1px solid white;
	color: white;
}

input[type="button"]:hover{
	box-shadow: 0px 0px 10px #151515;
}