body{
	width: 300px;
	margin: auto auto;
}

input{
	height: 40px;
	width: 250px;
	outline: none;
	padding: 10px;
	border: 1px solid grey;
	margin: 5px;
}

input:focus{
	border: 1px solid #1E90FF;
	box-shadow: 0px 0px 10px #1E90FF;
}

input[type="button"]{
	height: 40px;
	border-radius: 5%;
	background: green;
	border: 1px solid white;
	color: white;
}

input[type="button"]:hover{
	box-shadow: 0px 0px 10px #151515;
}