<?xml version="1.0" encoding="UTF-8" ?>
<!--
/*******************************************************************************************
Just Remember one Master Password text, Extrasafe takes care of the rest ;)
Extrasafe (C) 2014-2015  The Extra Labs
GNU General Public License v3
http://theextralabs.com
********************************************************************************************/
-->
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.extrasafe.app"
        versionCode = "1" 
        version     = "0.4" >

    <name>Extrasafe</name>

    <description>
        Just one passsword to generate passwords for web sites. 
    </description>

    <author href="saipranav.github.io/extrasafe" email="rsaipranav92@gmail.com">
        Sai Pranav R
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="com.verso.cordova.clipboard" version="0.1.0" />

    <icon src="icon.png" />

    <preference name="permissions" value="none"/>

</widget>
